<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>DayByDay</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <style>
    #container{
      width: 60%;
      height: 400px;
      border: 1px solid #4286f4;
    }

    #container1{
      float: left;
      width: 30%;
      height: 395px;
      border: 1px solid #ff0000;
    }

    #container2{
      float: right;
      width: 68%;
      height: 395px;
      border: 1px solid #ff0000;
    }

    .spacer{
      margin-bottom: 2px;
    }

    </style>


   <script>

   // write cookies for drop-downs
   function timeChoose(){
     choice = $('#time').find(":selected").val();
     Cookies.set('timeChoice', choice);
   }

   function dataChoose(){
     choice = $('#views').find(":selected").val();
     Cookies.set('dataChoice', choice);
   }






   $(document).ready(function() {



     // a button for testing things
     $("#btnSubmit").click(function(){
        $("div.time_selector select").val("week");
    });

    //CHECK
    {% block scriptTasks %}
    {% endblock %}

    //when no categories exist, block user from adding tasks
    function taskAddable(){
      numberOfChecked = $('input:checkbox').length;
      if (numberOfChecked == 1){
        $('.task_popup_open').prop('disabled', true);
      }
      else{
        $('.task_popup_open').prop('disabled', false);
      }
    }
    taskAddable();

    // on page load, retrieve saved dropdown values
     function loadDrops(){
       timeChoice = Cookies.get('timeChoice');
       dataChoice = Cookies.get('dataChoice');
       if (timeChoice){
         $("div.time_selector select").val(timeChoice);
       }
       if (dataChoice){
         $("div.data_selector select").val(dataChoice);
       }
     }

     loadDrops();

     // toggle buttons when an 'add' window open
     function allButtonsOff(bool){
       $('.cat_popup_open').prop('disabled', bool);
       $('.task_popup_open').prop('disabled', bool);
     }

     // callback events on opening or closing popups
     function openPopups(selector, bool){
       $(selector).popup({
         onopen: function() {
           allButtonsOff(bool);
         }
       });
     }

     function closePopups(selector, bool){
       $(selector).popup({
         onclose: function() {
           allButtonsOff(bool);
         }
       });
     }

     // creating popups
    $('#cat_popup').popup({
      type: 'tooltip',
      backgroundactive: true,
      offsetleft: 450,
      pagecontainer: '#container2'
    });

    $('#task_popup').popup({
      type: 'tooltip',
      offsetleft: 450,
      backgroundactive: true,
      pagecontainer: '#container2'
    });

    $('#log_popup').popup({
      type: 'tooltip',
      offsetleft: 450,
      backgroundactive: true,
      pagecontainer: '#container2'
    });

    openPopups('#cat_popup',true);
    closePopups('#cat_popup',false);
    openPopups('#task_popup',true);
    closePopups('#task_popup',false);
    openPopups('#log_popup',true);
    closePopups('#log_popup',false);


    $("#add").click(function(){
      var divWrapper = $("<div class = 'addWrapper' id = 'field'>");
      var intId = $("#task_popup div").length;
      var testbox = $("<input type='text' name='subtask"+ intId +"'>");
      $("#num").val(intId);
      var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" /><br>");
       removeButton.click(function() {
           $(this).parent().remove();
       });
       divWrapper.append(testbox);
       divWrapper.append(removeButton);
       $("#subtasks").append(divWrapper);


    });


   });

   </script>



</head>
<body>

  <div id = "container">

    <!-- Left panel -->
    <div id = "container1">
      <br>

      <!-- select view for time -->
      <form method=POST action="{{ url_for('changeView') }}">
            <!-- <select name="time" id="time" onchange="timeChoice()"> -->

            <div class = "time_selector">
            <select name="time" id="time" onchange="timeChoose(); this.form.submit();">
              {% block timeSelect %}
              <option value="day">Day View</option>
              <option value="week">Week View</option>
              <option value="month">Month View</option>
              {% endblock %}
            </select>
          </div>
          <p class = "spacer"></p>

        <!-- select view for data -->
          <div class = "data_selector">
          <select name="views" id="views" onchange="dataChoose(); this.form.submit();">
            <option value="checklist">Checklist View</option>
            <option value="events">Events View</option>
            <option value="log">Log View</option>
          </select>
        </div>
      </form>
      <p class = "spacer"></p>

      <!-- select which categories to view -->
      {% block categories %} <p> Categories </p> {% endblock %}
      <p class = "spacer"></p>

      <!-- Add Category -->
      <button class="cat_popup_open">Add Category</button>
      <div id="cat_popup">
        <form method=POST action="{{ url_for('addCat') }}">
          Category Name: <input type='text' name='catName'><br>
          Category Color: <input type='text' name='catColor'><br>
          <input type="submit" value="Submit">
        </form>
        <button class="cat_popup_close">Close</button>
      </div>
      <br>

      <!-- Add Task -->
      <button class="task_popup_open">Add Task</button>
      <div id="task_popup">
        <form method=POST action="{{ url_for('addTask') }}">
          Task Category:
          <select name="catOpt" id = "catOpt">
	     <option value="none">Not Specified</option>
            {% block add_dropdown %} {% endblock %}
          </select>
          <br>

          Task Name: <input type='text' name='catName'><br>
          Start Date (YYYY-MM-DD): <input type='text' name='startDate'><br>
          End Date (YYYY-MM-DD): <input type='text' name='endDate'><br>

          <div id = "subtasks">
          </div>
          <input type="button" value="Add subtask" id = "add">
          <input type = "hidden" name = "num" id = "num" value = "0">
          <input type="submit" value="Submit">
        </form>
        <button class="task_popup_close">Close</button>
      </div>
      <br>


      <!-- Add Log -->
      <button class="log_popup_open">Add/Update Log</button>
      <div id="log_popup">
        <form method=POST action="{{ url_for('addLog') }}">
          Category Name: <input type='text' name='catName'><br>
          Hours: <input type='text' name='hour'><br>
          Task Date: <input type='text' name='taskDate'><br>
          <input type="submit" value="Submit">
        </form>
        <button class="log_popup_close">Close</button>
      </div>
      <br>

    </div>

    <!-- Right panel -->
    <div id = "container2">

      <div id = "dateinfo">
        {% block timeInfo %} {% endblock %}
      </div>


      {% block rightPanel %} {% endblock %}



     </div>
  </div>
  <input id = "btnSubmit" type="submit" value="Test"/>



{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}





</body>
</html>
