<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DayByDay</title>

    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
    <!-- cookie plugin -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- checkboxes styling -->
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- plugin for time/date form inputs, not native to bootstrap -->
    <script type="text/javascript" src="{{ url_for('static', filename='moment/moment.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/transition.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/collapse.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/bootstrap-datetimepicker.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-datetimepicker.min.css') }}" />
    <!-- plugin for nicely designed dropdown selectors -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <!-- canvasJS for log -->
    <script src="http://cs.wellesley.edu/~czheng/cs304project/canvasjs.min.js"></script>
    <!-- our own js -->
    <script type="text/javascript" src="{{ url_for('static', filename='base_task.js') }}"></script>


    <style>

      html, body {
      margin: 0px;
      padding: 0px;
      border: 0px;
      }

      html {
      height: 100%;
      }

      body {
        height: 100%;
      }

      .form-group{
        width: 60%;
      }

      .horizontalSpacer{
        display: inline-block;
        text-align: left;
      }

      #header{
      background-color: #FFFFFF;
      width: 100%;
      height: 50px;
      }


      #headerleft{
      background-color: #FFFFFF;
      width: 15%;
      height: 100%;
      display: inline-block;
      font-size: 190%;
      vertical-align: middle;
      line-height: 70px;
      }

      #headerright{
      height: 100%;
      width: 84.5%;
      vertical-align: middle;
      font-size: 190%;
      line-height: 70px;
      display: inline-block;
      }

      #container{
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
      }

      #container1{
        background-color: #FFFFFF;
        float: left;
        width: 15%;
        height: 100%;
      }

      #container2{
        background-color: #FFFFFF;
        float: left;
        width: 84.5%;
        height: 100%;
      }

      #categories{
        width: 40%;
      }

      .addElements{
        width: 80%;
      }

      .spacer{
        margin-bottom: 2px;
      }

  </style>



  <script>




   // create cookies to save user's two drop-down value selections
   function timeChoose(){
     choice = $('#time').find(":selected").val();
     Cookies.set('timeChoice', choice);
   }

   function dataChoose(){
     choice = $('#views').find(":selected").val();
     Cookies.set('dataChoice', choice);

     $('#catTickRedirect').val(choice);
   }


   //handles logic for which category checkboxes can be checked, and processes changes upon user's checkbox clicks
   //If any cats checked, uncheck catall. If no cats checked, check catall. If catall checked, uncheck all others.
   //Set cookies to remember user's checkbox preferences after each change.
   function checkCat(catTick, notOnLoad){
     var $inputs = $('#catTickForm :input');
     var ids = [];
     $inputs.each(function (index){
         ids.push( [$(this).attr('id') , $('#' + $(this).attr('id').replace(" ", "\\ ")).prop('checked')])
     });

     if ($("#catTickForm input:checkbox:checked").length == 0){
       $('#catall').prop('checked', true);
     }
     if (catTick.id == "catall"){
       $('.cat').prop('checked', false);
       setCatTickCookies();
       return;
     }

     // returns (id,isChecked) for all checked user-submitted categories
     let catsTrue = ids.slice(1).filter( ([id,bool]) => { return bool === true })

     if (catsTrue.length === 0){
       $('#catall').prop('checked', true);
     }
     if (catsTrue.length > 0) {
       // I swear sometimes one unchecking-method works and the other breaks randomly, so let's be safe and have both
       $('#catall').attr("checked",false);
       $('#catall').prop('checked',false);
     }

     //set cookies to remember selected categories
     if (notOnLoad){
       setCatTickCookies();
     }
    }

    //sets a cookie to save user's category-checkbox preferences, in a stringified
    //dictionary of the form (category ID) : (boolean-isChecked)
    function setCatTickCookies(){
      var $inputs = $('#catTickForm :input');
      var ids = [];
      $inputs.each(function (index){
          ids.push( [$(this).attr('id') , $('#' + $(this).attr('id').replace(" ", "\\ ")).prop('checked')])
      });
      ids.pop();
      ids.pop();
      Cookies.set('catChoice', ids);
    }


    //on page load
    $(document).ready(function() {

    //set initial cookies to be 'day' and 'checklist'
    function loadDrops(){
      Cookies.set('timeChoice', "day");
      Cookies.set('dataChoice', "checklist");
      timeChoice = Cookies.get('timeChoice');
      dataChoice = Cookies.get('dataChoice');
       $('#catTickRedirect').val(dataChoice);
     }
     loadDrops();

     //retrieve checked categories
     function loadCats(){
       catChoice = (Cookies.get('catChoice'));
       //if any cookie has been saved (is not user's first visit)
       if (catChoice){
         catChoiceObj = JSON.parse(catChoice);
         $('#catTickId').val(JSON.stringify(catChoiceObj));

         //turn on the a checkbox if cookie value reports it was saved as checked
         //if no checkboxes were checked, check 'catall'
         catChoiceObj.forEach((cat) => {
           if (cat[1] == true){
             $('#' + cat[0].replace(" ", "\\ ")).prop('checked', true);}});}
           else {$('#catall').prop('checked', true);}}

    loadCats();

    //make sure checked cat logic is correct
    checkCat($('#allcat'),false);

    //handler for adding subTask-rows in option '+ Task'
    $("#add").click(function(){
      var divWrapper = $("<div class = 'addWrapper' id = 'field'>");
      var intId = $("#subtasks").children().length + 1;
      var testbox = $("<input type='text' style='width:75%; display: inline-block; height: 31px;'   class='form-control' name='subtask"+ intId +"'>");
      $("#num").val(intId);
      var removeButton = $("<input type=\"button\" class=\"remove btn btn-default\" style=\"height: 32px;line-height: 10px; font-size:200%; width:24%; padding-bottom: 12px;   \"  \" value=\"-\" /><br><br>");
       removeButton.click(function() {
           $(this).parent().remove();
       });
       divWrapper.append(testbox);
       divWrapper.append(removeButton);
       $("#subtasks").append(divWrapper);
    });

    // date form element function for linked 'start date' and 'enddate' values in '+ Task'
    $(function () {
        $('#datetimepicker6').datetimepicker({format: 'YYYY-MM-DD'});
        $('#datetimepicker7').datetimepicker({
            format: 'YYYY-MM-DD',
            useCurrent: false
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });

    // date form element function for '+ Log Entry'
    $(function () {
        $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
    });

    // date form element function for '+ Event'
    $(function () {
        $('#datetimepicker4').datetimepicker({format: 'YYYY-MM-DD'});
    });

    // start time and end time form elements functions for '+ Event'
    $(function () {
        $('#datetimepicker2').datetimepicker({ format: 'HH:mm' });
    });
    $(function () {
      $('#datetimepicker3').datetimepicker({ format: 'HH:mm' });
    });

  });

  </script>
</head>

<body>

<div id = "header">

  <div id = "headerleft"> <div class = "horizontalSpacer" style = "width: 14%;"> </div> DayByDay </div>
  <div id = "headerright" > {% block timeInfo %} {% endblock %} </div>

</div>

<!-- Main content box that holds left panel and right panel -->
<div id = "container">

  <!-- Left panel -->
  <div id = "container1">
    <br><p class = "spacer"></p>

      <!-- select view for time -->
      <form id = "changeViewForm" style = "width: 100% !important; display: inline-block;">

        <div class = "horizontalSpacer" style = "width: 10%;"> </div>
        <!-- dropdown for user's time-view selection -->
        <div class = "form-group time_selector" style = "display: inline-block; width:80% !important;">
          <select class = "form-control"  name="time" id="time" onchange="timeChoose(); changeView();" >
          {% block timeSelect %}
            <option value="day">Day View</option>
            <option value="week">Week View</option>
            <option value="month">Month View</option>
          {% endblock %}
          </select>
        </div>
        <p class = "spacer"></p>

        <div class = "horizontalSpacer" style = "width: 10%;"> </div>
        <!-- dropdown for user's data-view selection -->
        <div class = "form-group data_selector" style = "display: inline-block; width:80% !important;">
          <select class = "form-control" name="views" id="views" onchange="dataChoose(); changeView();">
            <option value="checklist">Checklist View</option>
            <option value="events">Events View</option>
            <option value="log">Log View</option>
          </select>
        </div>
        </form>
        <p class = "spacer"></p>

        <!-- load in user's categories -->
        {% block categories %}
        <div class = "horizontalSpacer" style = "width: 10%;"> </div>
        <div id = "categories" style = "display: inline-block;">
          <form id = "catTickForm">

            <!-- catall checkbox -->
            <div class="pretty p-default p-curve">
              <input type="checkbox" name="cat" id = "catall" onchange="checkCat(this,true); catTick();" value="allCats"/>
              <div class="state">
                <label>All Categories</label>
              </div>
            </div>
            <br>

            <!-- for coloring styling of all user-created categories, passed in to block below -->
            {% set d = {'418ACA':'p-primary', '5DB85B':'p-success', 'F0AD4E':'p-warning', '5BC0DE':'p-info', 'D9534E':'p-danger'} %}
            {% for cat in allCats %}

            <!-- generate checkbox for every category -->
            <div class="pretty p-default p-curve">
                <input type="checkbox" class = "cat" name="cat" id = "cat{{cat['name']}}" onchange="checkCat(this,true); catTick();" value="{{cat['name']}}" />
                <div class="state {{  d[cat['color']]  }} generatedCat">
                    <label><font color=" {{cat['color']}}  "> {{cat['name']}}  </font></label>
                </div>
            </div>
            <br>
            {% endfor %}

            <!-- hidden inputs for back-end processing -->
            <input type = "hidden" name = "catHidden" id = "catTickId" value = "0">
            <input type = "hidden" name = "catHiddenRedirect" id = "catTickRedirect" value = "0">
          </form>
        </div>

        {% endblock %}

        <p class = "spacer"></p><br>

        <div>
          <div class = "horizontalSpacer" style = "width: 10%;" >  </div>

          <!-- all '+ Feature' items within the Bootstrap accordion are contained here -->
          <div class = "addElements" style = "display: inline-block; width:80%; ">
          <div class="panel-group" id="accordion">

            <!-- + Category -->
            <form id="addCategory" class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >+ Category</a>
                </h4>
              </div>

              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">

                  <!-- text input category name -->
                  <input type='text' class="form-control" name='catName' placeholder="Category Name"><br>

                  <!-- custom color selector dropdowm -->
                  <select class="selectpicker" data-width="80%" name = 'catColor'>
                    <option>Pick Color</option>
                    <option value = "418ACA" style="background: #418ACA; color: #fff;">Blue</option>
                    <option value = "5DB85B" style="background: #5DB85B;color: #fff;">Green</option>
                    <option value = "F0AD4E" style="background: #F0AD4E;color: #fff;">Yellow</option>
                    <option value = "5BC0DE" style="background: #5BC0DE;color: #fff;">Cyan</option>
                    <option value = "D9534E" style="background: #D9534E;color: #fff;">Red</option>
                  </select>

                  <br><p class = "spacer"></p><br>

                  <!-- <input id="addCategorySubmit" class="btn btn-default" type="submit" value="Submit"> -->
                  <input id="addCategorySubmit" style="width:70%;" class="btn btn-default" value="Submit">
                </div>
              </div>
            </form>

            <!-- + Task -->
            <form id="addTask" class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">+ Task</a>
                </h4>
              </div>

              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                <!-- category selector dropdown -->
                <select class = "form-control canUpdateCat" name="catOpt" id = "catOpt">
                 <option value="none">Choose Category</option>
                 {% block add_dropdown %}
                   {% for cat in allCats %}
                    <option value="{{cat['name']}}"> {{cat['name']}} </option>
                   {% endfor %}
                 {% endblock %}
                </select>
                <br>

                <!-- text input for task name -->
                <input type='text' class="form-control"  name='catName' placeholder="Task Name"><br>

                <!-- input for start date and end date -->
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' name='startDate' class="form-control" placeholder="Start Date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <br>
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' name='endDate' class="form-control" placeholder="End Date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <br>

                <!-- where generated subtask forms are sent -->
                <div id = "subtasks"></div>

                <!-- 'add subtask' button -->
                <input class="btn btn-default" type="button" value="Add subtask" id = "add"><br>
                <input type = "hidden" name = "num" id = "num" value = "0"><br>

                <input id="addTaskSubmit" style="width:70%;" class="btn btn-default" value="Submit">
                </div>
              </div>
            </form>

            <!-- + Log Entry -->
            <form id="addLog" class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">+ Log Entry</a>
                </h4>
              </div>

              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">

                  <!-- category selector dropdown -->
                  <select class = "form-control canUpdateCat" name="catName" id = "catOpt">
                    <option value="none">Choose Category</option>
                    {% for cat in allCats %}
                      <option value="{{cat['name']}}"> {{cat['name']}} </option>
                    {% endfor %}
                  </select><br>

                  <!-- log number of hours input -->
                  <input type='text' class="form-control" name='hour' placeholder = "Hours"><br>

                  <!-- datepicker form element -->
                  <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" name='taskDate' placeholder = "Task Date"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div><br>

                  <input id="addLogSubmit" style="width:70%;" class="btn btn-default" value="Submit">
                </div>
              </div>
            </form>

            <!-- + Event -->
            <form id="addEvent" class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">+ Event</a>
                </h4>
              </div>

              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">

                  <!-- event name text input -->
                  <input type='text' class="form-control" name='eventName' placeholder="Event Name"><br>

                  <!-- date form element -->
                  <div class='input-group date' id='datetimepicker4'>
                      <input type='text' class="form-control" name='eventDate' placeholder = "Event Date"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div><br>

                  <!-- start time form element -->
                  <div class='input-group date' id='datetimepicker2'>
                      <input type='text' class="form-control" name='startTime' placeholder = "Start Time"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                      </span>
                  </div><br>

                  <!-- end time form element -->
                  <div class='input-group date' id='datetimepicker3'>
                      <input type='text' class="form-control" name='endTime' placeholder = "End Time"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                      </span>
                  </div><br>

                  <input id="addEventSubmit" class="btn btn-default" style="width:70%;" value="Submit">

                </div>
              </div>
            </form>

            <!-- + csv Upload -->
            <form id = "uploadFile" class="panel panel-default" method=POST action="{{ url_for('csvUpload') }}" enctype = "multipart/form-data">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">+ CSV Upload</a>
                </h4>
              </div>

              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">

                 <input type = "file" name = "file">
                 <br><p class = "spacer"></p>

                 <input id = "uploadSubmit" class="btn btn-default" type="submit" value="Upload">

                </div>
              </div>
            </form>

          </div>
          </div>
          <!-- log out button -->
          <div>
            <!-- <div class = "horizontalSpacer" style = "width: 30%;"> </div> -->
            <form action="{{ url_for('logout') }}" method=POST style = "text-align:center;">
                  <button class = "btn btn-default" name="logout" type="submit">Log Out</button>
            </form>
          </div>

          <br><p class = "spacer"></p>
          <div id="pulseMessages" style="display: none; width: 60%; margin: auto; color: #418ACA; text-align:center; border-radius: 5px; border: 1px solid #418ACA;">   </div>

        </div>
  </div>

    <!-- Right panel -->
    <div id = "container2">
      {% block rightPanel %} {% endblock %}
      {% block customize %} {% endblock %}
    </div>

  <!-- end of div 'container' -->
  </div>



</body>
</html>
