<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>DayByDay</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>


    <style>
    #container{
      width: 60%;
      height: 400px;
      border: 1px solid #4286f4;
    }

    #container1{
      float: left;
      width: 30%;
      height: 395px;
      border: 1px solid #ff0000;
    }

    #container2{
      float: right;
      width: 68%;
      height: 395px;
      border: 1px solid #ff0000;
    }

    .spacer{
      margin-bottom: 2px;
    }

    </style>


   <script>

   $(document).ready(function() {

    $('#cat_popup').popup({
      backgroundactive: true,
      pagecontainer: '#container2'
    });

    $('#task_popup').popup({
      backgroundactive: true,
      pagecontainer: '#container2'
    });

    $("#add").click(function(){
      var divWrapper = $("<div class = 'addWrapper' id = 'field'>")
      var intId = $("#task_popup div").length + 1;
      var testbox = $("<input type='text' name='subtask"+ intId +"'>")

      var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" /><br>");
       removeButton.click(function() {
           $(this).parent().remove();
       });
       divWrapper.append(testbox);
       divWrapper.append(removeButton);
       $("#subtasks").append(divWrapper);


    });


   });

   </script>



</head>
<body>

  <div id = "container">

    <!-- Left panel -->
    <div id = "container1">
      <br>

      <!-- select view for time -->
      <select name="time">
        <option value="day">Day View</option>
        <option value="week">Week View</option>
        <option value="month">Month View</option>
      </select>
      <p class = "spacer"></p>

      <!-- select view for data -->
      <select name="views">
        <option value="checklist">Checklist View</option>
        <option value="events">Events View</option>
        <option value="log">Log View</option>
      </select>
      <p class = "spacer"></p>

      <!-- select which categories to view -->
      {% block categories %} <p> Categories </p> {% endblock %}
      <p class = "spacer"></p>

      <!-- Add Category -->
      <button class="cat_popup_open">Add Category</button>
      <div id="cat_popup">
        <form method=POST action="{{ url_for('addCat') }}">
          Category Name: <input type='text' name='catName'><br>
          Category Color: <input type='text' name='catColor'><br>
          <input type="submit" value="Submit">
        </form>
        <button class="cat_popup_close">Close</button>
      </div>
      <br>

      <!-- Add Task -->
      <button class="task_popup_open">Add Task</button>
      <div id="task_popup">
        <form method=POST action="{{ url_for('addTask') }}">
          Task Name: <input type='text' name='catName'><br>
          Start Date (YYYY-MM-DD): <input type='text' name='startDate'><br>
          End Date (YYYY-MM-DD): <input type='text' name='endDate'><br>

          <div id = "subtasks">
          Subtask1: <input type='text' name='subtask1'><br>
          Subtask2: <input type='text' name='subtask2'><br>
          </div>
          <input type="button" value="Add subtask" id = "add">

          <input type="submit" value="Submit">
        </form>
        <button class="task_popup_close">Close</button>
      </div>
      <br>




    </div>

    <!-- Right panel -->
    <div id = "container2">
      {% block rightPanel %} {% endblock %}



     </div>
  </div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}





</body>
</html>
