<!-- <script>
$(document).ready(function() { -->

{% extends "base_task.html" %}

{% block customize %}

  //general improvement: instead of pulling all tasks with dataStruct json, change so that SQL only returns
  //tasks with current date.

  //Scott: Regarding style, should this helper function be placed within placeSubtasks?
  //only build the task if its due date is the same as the current date
  <script>
  function placeSubtasksHelper(taskDic, isParent){
    if (taskDic["end"].toString() == date){
      buildTask(taskDic["taskID"], taskDic["catColor"], taskDic["cat"], taskDic["name"], taskDic["isFinished"].toString(), isParent, "container2", "day");
    }
  }

  //process data structure of all tasks to find which dates to display
  function placeSubtasks(dataStruct){
    //Extract parent task from data structure for processing
    for (j=0; j < dataStruct.length; j++ ){
      taskDic = dataStruct[j][0];
      placeSubtasksHelper(taskDic, true);

      //Extract child subTasks from data structure for processing
      for (i=0; i < dataStruct[j][1].length; i++){
          taskDic = dataStruct[j][1][i];
          placeSubtasksHelper(taskDic, false);
      }
    }
  }

  placeSubtasks(dataStruct);


});
</script>

{% endblock %}
