{% extends "base.html" %}

{% block rightPanel %}
<script>
$(document).ready(function() {

  //find today
  var today = new Date(),
      d = today.getDate(),
      m = today.getMonth()+1,
      y = today.getFullYear();
  var date = y + "," + m + "," + d;
  $('#dateinfo').append("Today is: " + y + "-" + m + "-" + d);

  //recieve the data structure containing task information from sql database
  //maybe use ajax request instead?
  var data = "{{ dataStruct }}";
  var data = data.replace(/&#39;/g,"\"");
  var dataStruct = JSON.parse(data);

  console.log(data);


  //has an extra 'selector' field
  // currently due
  function buildTask(taskID, catColor, category, name, isFin, isParent, selector, timeChoice){

    //determines whether checkbox should be rendered pre-checked
    finBool = "";
    if (parseInt(isFin)){
      finBool = " checked ";
    }

    //determines whether name of task should be rendered bold, indicating it is a parent
    nameParent = name;
    if (isParent){
      nameParent = "<b>" + name + "</b>"
    }
    nameParent = "<font color=" + catColor +  ">" + nameParent + "</font>"

    //building each
    $('#' + selector).append('<form method=POST action="{{ url_for("tickTask") }}">   <div class=task id=task' + taskID + ' style="border: 1px solid black;">   </div></form>')
    // var line0 ="Cat: " + category + "<br>";
    var line1 = "<input type='hidden' value='"+ timeChoice +"_checklist' name='timeSelector'>"
    var line2 = "<input type='hidden' value='task"+ taskID +"' name='taskCheck'>"
    var line3 = "<input type='checkbox'"+ finBool +" onchange='this.form.submit();' name='taskCheck' value='task"+ taskID +"'> " + nameParent + "  <br>"
    $("#task" + taskID.toString()).append(line1 + line2 + line3 );
  }

{% endblock %}

{% block customize %}

//

{% endblock %}
