{% extends "base.html" %}





{% block rightPanel %}
	<script src="http://cs.wellesley.edu/~czheng/cs304project/canvasjs.min.js"></script>
	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
	<script type="text/javascript">
//get the user's choices from cookies and convert from string to data structure


	catChoice = (Cookies.get('catChoice'));
	var catChoiceObj = "";
	if (catChoice){
		catChoiceObj = JSON.parse(catChoice);
	}
	catChoiceDic = {};
	for (i = 0; i < catChoiceObj.length; i ++){
		catChoiceDic[catChoiceObj[i][0].toString()] = catChoiceObj[i][1];
	}

	var catList = [];//catList is a list of selected categories
	for (k in catChoiceDic){
		if (catChoiceDic[k]==true){
			catList.push(k);
		}
	}

//a helper function to clean the raw data such that it's meaningful for the API
	function translatePoints(raw){
		var result = [];
		for (i = 0; i < raw.length; i++){
			rec = raw[i];
			result.push({ x: new Date(rec[0],rec[1]-1,rec[2]), y: rec[3] });
		}
		return result;
	}

//a helper function which pushes the dataPoints of a new category to the existing data
	function makeData(dataList,catName,dataPoints,color){
		var eachData = {
					type: "line",
					showInLegend: true,
					lineThickness: 2,
					name: catName,
					markerType: "square",
					color: '#'+color,//"#F08080",
					dataPoints : dataPoints
				};
		dataList.push(eachData);

	}

//load the API
	function loadLog(data,viewFormat,gap,intType){
		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				title: {
					text: "Log View",
					fontSize: 30
				},
				animationEnabled: true,
				axisX: {
					gridColor: "Silver",
					tickColor: "silver",
					interval:gap,
					intervalType: intType,
					valueFormatString: viewFormat//"DD/MMM/YYYY"
				},
				toolTip: {
					shared: true
				},
				theme: "theme2",
				axisY: {
					gridColor: "Silver",
					tickColor: "silver"
				},
				legend: {
					verticalAlign: "center",
					horizontalAlign: "right"
				},
				data:data,//data is prepared by the helper function
				legend: {
					cursor: "pointer",
					itemclick: function (e) {
						if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
							e.dataSeries.visible = false;
						}
						else {
							e.dataSeries.visible = true;
						}
						chart.render();
					}
				}
			});

			chart.render();
		}}
		//convert python dictionary to javascript dictionary
		var data = "{{logs}}";//{category:[[yyyy,mm,dd,hours]]}
		var data = data.replace(/&#39;/g,"\"");
		var allLogRec = JSON.parse(data);

		var color = "{{colorDict}}"//{category:color}

		var color = color.replace(/&#39;/g,"\"");
		var colorDic = JSON.parse(color);

		dataRec = [];
		intervalGap = {{intervalGap}};
		intType = "{{intType}}";
		dateFormat = "{{dFormat}}";


		for (var j = 0 ; j <catList.length; j++){//construct data for each category
			var actualCat = catList[j].substring(3);//the previous form is 'catXXX', and we are only interested in XXX
      if (actualCat in allLogRec){
				var dataPoints = translatePoints(allLogRec[actualCat]);//prepare data
				makeData(dataRec,actualCat,dataPoints,colorDic[actualCat]);//append it to our current data list
			}

		}
		loadLog(dataRec,dateFormat,intervalGap,intType);//function to call the graph



{% endblock %}
