<!-- <script>
$(document).ready(function() { -->

{% extends "base_event.html" %}

{% block customize %}

  //the week we define goes from last Sunday to Saturday
  //todo: daylights saving safe version
  $('#eventTable').remove();
  function defineWeek(){
    var sunday = new Date();
    sunday.setDate(sunday.getDate() - sunday.getDay());

    //'week' holds dates for comparison against SQL date values from tasks
    //add Sunday
    dStr = sunday.toLocaleDateString().split('/');
    week = [dStr[2] + ',' + dStr[0] + ',' + dStr[1]];

    //add rest of week
    for (i = 1; i < 7; i++){
      d = new Date(sunday.getTime() + 86400000*i); //robust against end-of-month changes
      dStr = d.toLocaleDateString().split('/');
      week.push(dStr[2] + ',' + dStr[0] + ',' + dStr[1] );
    }
    return week;
  }

  //formats week names for display in header
  function formatWeekNames(){
    var week = defineWeek();
    var weeknames = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]; //consider making current day name bold
    var displaynames = [];

    for (i = 0; i < 7; i++){
      var date = week[i].split(',');
      displaynames.push(weeknames[i] + " " + date[1] + "/" + date[2]);
    }
    return displaynames
  }

  //create table to seperate days of week and contain tasks
  $("#container2").append('<table style="width:100%; border-style: solid;" id = "weekEvents" ></table>')
  $("#weekEvents").append('<tr id = headers>   </tr>');

  //put days of week into headers
  displaynames = formatWeekNames();
  for (i = 0; i < 7; i++){
    var header = '<th>' + displaynames[i] + '</th>';
    $("#headers").append(header);
  }

  //can format this with a loop later
  //creates row of table into which tasks will be placed
  var week = defineWeek();
  console.log(week[0].split(','))
  $("#weekEvents").append('<tr> <td id = ' + week[0].split(',')[2] + ' > </td>' +
                              '<td id = ' + week[1].split(',')[2] + ' > </td>' +
                              '<td id = ' + week[2].split(',')[2] + ' > </td>' +
                              '<td id = ' + week[3].split(',')[2] + ' > </td>' +
                              '<td id = ' + week[4].split(',')[2] + ' > </td>' +
                              '<td id = ' + week[5].split(',')[2] + ' > </td>' +
                              '<td id = ' + week[6].split(',')[2] + ' > </td>' +  '</tr>');

  //for one task from the data structure, if the date on task matches a date to be displayed,
  //create the task in the corresponding slot of the week table
  function placeDayJ (j, dataStruct, date, selector){
    eventDic = dataStruct[j]
    console.log(eventDic["eventDate"].toString() == date)
    console.log(eventDic)
    if (eventDic["eventDate"].toString() == date){
      console.log('yes')
      buildEvent(eventDic["eventID"], eventDic["eventName"], eventDic["eventDate"], eventDic["startTime"], eventDic["endTime"],  selector, "week");
    }
  }

  //iterate through all tasks and place them in the relevant week
  function placeEvents(dataStruct){
    var week = defineWeek();

    //iterate through all tasks
    console.log("week");
    console.log(week);
    for (j=0; j < dataStruct.length; j++ ){

      placeDayJ(j, dataStruct, week[0], week[0].split(',')[2]);
      placeDayJ(j, dataStruct, week[1], week[1].split(',')[2]);
      placeDayJ(j, dataStruct, week[2], week[2].split(',')[2]);
      placeDayJ(j, dataStruct, week[3], week[3].split(',')[2]);
      placeDayJ(j, dataStruct, week[4], week[4].split(',')[2]);
      placeDayJ(j, dataStruct, week[5], week[5].split(',')[2]);
      placeDayJ(j, dataStruct, week[6], week[6].split(',')[2]);


    }
  }
  placeEvents(dataStruct);


});
</script>

{% endblock %}
