<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <title>DayByDay</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- checkboxes styling -->
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

    <!-- For Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>

      html, body {
      margin: 0px;
      padding: 0px;
      border: 0px;
      }

    html {
    height: 100%;
    }

    body {
      height: 100%;
      /*font: 1em/1.25 Arial, Helvetica, sans-serif;*/
    }

    .form-group{
      width: 60%;
    }

    /*.centerDiv {
      text-align: center;
    }*/

    .shit{
      display: inline-block;
      text-align: left;
    }

      #header{
      background-color: #e7e3f7;
      width: 100%;
      height: 50px;
      }

      #headerleft{
      background-color: #e3f3f7;
      width: 20.5%;
      height: 100%;
      text-align:center;
      vertical-align: middle;
      line-height: 30px;
      }

    #container{
      background-color: #cbdaf2;
      width: 100%;
      height: 100%;
      border: 1px solid #4286f4;
    }

    #container1{
      background-color: #f1ccca;
      float: left;
      width: 20%;
      height: 100%;
      border: 1px solid #ff0000;
    }

    #container2{
      background-color: #cff0c9;
      float: right;
      width: 79.5%;
      height: 100%;
      border: 1px solid #ff0000;
    }

    #categories{
      /*text-align:center;*/
      width: 40%;
      /*border: 1px solid #ff0000;*/
    }

    .addElements{
      width: 80%;
    }

    .spacer{
      margin-bottom: 2px;
    }




    </style>


   <script>

   // write cookies for drop-downs
   function timeChoose(){
     choice = $('#time').find(":selected").val();
     Cookies.set('timeChoice', choice);
   }

   function dataChoose(){
     choice = $('#views').find(":selected").val();
     Cookies.set('dataChoice', choice);
   }


   //if any cats checked, uncheck allCats
   //if no cats checked, check allCats
   //if allCats checked, uncheck others
   function checkCat(catTick, notOnLoad){
     var $inputs = $('#catTickForm :input');
     var ids = [];
     $inputs.each(function (index){
         ids.push( [$(this).attr('id') , $('#' + $(this).attr('id').replace(" ", "\\ ")).prop('checked')])
     });
     // ids = ids.pop();

     //don't allow user to select 0 categories, turn on 'all categories' if they try
     if ($("#catTickForm input:checkbox:checked").length == 0){
       $('#catall').prop('checked', true);
     }

     if (catTick.id == "catall"){
       $('.cat').prop('checked', false);
       setCatTickCookies();
       return;
     }
     // returns (id,isChecked) of all checked user-submitted categoires
     let catsTrue = ids.slice(1).filter( ([id,bool]) => { return bool === true })

     if (catsTrue.length === 0){
       $('#catall').prop('checked', true); //for some reason attr didn't work here
     }
     if (catsTrue.length > 0) {
       $('#catall').attr("checked",false);
     }

     // let allCatTrues = ids.filter(([id,bool]) => { return bool === true })
     // $('#catTickId').val(JSON.stringify(allCatTrues));

     //set cookies to remember selected cats
     if (notOnLoad){
       setCatTickCookies();
     }
    }

    function setCatTickCookies(){
      var $inputs = $('#catTickForm :input');
      var ids = [];
      $inputs.each(function (index){
          ids.push( [$(this).attr('id') , $('#' + $(this).attr('id').replace(" ", "\\ ")).prop('checked')])
      });
      ids.pop();
      ids.pop();
      Cookies.set('catChoice', ids);
      $('#catTickId').val(JSON.stringify(ids));
      console.log(Cookies.get('catChoice'));
    }


   $(document).ready(function() {

     // $('#collapseOne').collapse("hide");

     var bootstrap3_enabled = (typeof $().emulateTransitionEnd == 'function');
     console.log(bootstrap3_enabled);
     // a button for testing things
    //  $("#btnSubmit").click(function(){
    //     $("div.time_selector select").val("week");
    // });

    //CHECK
    {% block scriptTasks %}
    {% endblock %}


    //when no categories exist, block user from adding tasks
    function taskAddable(){
      numberOfChecked = $('input:checkbox').length;
      if (numberOfChecked == 1){
        $('.task_popup_open').prop('disabled', true);
      }
      else{
        $('.task_popup_open').prop('disabled', false);
      }
    }
    taskAddable();

    // on page load, retrieve saved dropdown values
     function loadDrops(){
       timeChoice = Cookies.get('timeChoice');
       dataChoice = Cookies.get('dataChoice');
       if (timeChoice){
         $("div.time_selector select").val(timeChoice);
       }
       if (dataChoice){
         $("div.data_selector select").val(dataChoice);
       }
     }

     loadDrops();

     //on page load, retrieve saved selected categories
     function loadCats(){
       catChoice = (Cookies.get('catChoice'));
       console.log(JSON.stringify(catChoice));
       if (catChoice){

         catChoiceObj = JSON.parse(catChoice);
         $('#catTickId').val(JSON.stringify(catChoiceObj));
         // $('#catTickId').val(JSON.stringify(catChoiceObj));

         catChoiceObj.forEach((cat) => {
           if (cat[1] == true){
             $('#' + cat[0].replace(" ", "\\ ")).prop('checked', true);
           }});

        } else {
          $('#catall').prop('checked', true);
        }
     }

     loadCats();
     checkCat($('#allcat'),false);


     // toggle buttons when an 'add' window open
     function allButtonsOff(bool){
       $('.cat_popup_open').prop('disabled', bool);
       $('.task_popup_open').prop('disabled', bool);
       $('.log_popup_open').prop('disabled',bool);
       $('.event_popup_open').prop('disabled',bool);
     }

     // callback events on opening or closing popups
     function openPopups(selector, bool){
       $(selector).popup({
         onopen: function() {
           allButtonsOff(bool);
         }
       });
     }

     function closePopups(selector, bool){
       $(selector).popup({
         onclose: function() {
           allButtonsOff(bool);
         }
       });
     }

     // creating popups
    $('#cat_popup').popup({
      type: 'tooltip',
      backgroundactive: true,
      offsetleft: 450,
      pagecontainer: '#container2'
    });

    $('#task_popup').popup({
      type: 'tooltip',
      offsetleft: 450,
      backgroundactive: true,
      pagecontainer: '#container2'
    });

    $('#log_popup').popup({
      type: 'tooltip',
      offsetleft: 450,
      backgroundactive: true,
      pagecontainer: '#container2'
    });


    $('#event_popup').popup({
      type: 'tooltip',
      offsetleft: 450,
      backgroundactive: true,
      pagecontainer: '#container2'
    });

    openPopups('#cat_popup',true);
    closePopups('#cat_popup',false);
    openPopups('#task_popup',true);
    closePopups('#task_popup',false);
    openPopups('#log_popup',true);
    closePopups('#log_popup',false);
    openPopups('#event_popup',true);
    closePopups('#event_popup',false);


    $("#add").click(function(){
      var divWrapper = $("<div class = 'addWrapper' id = 'field'>");
      var intId = $("#task_popup div").length;
      var testbox = $("<input type='text' name='subtask"+ intId +"'>");
      $("#num").val(intId);
      var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" /><br>");
       removeButton.click(function() {
           $(this).parent().remove();
       });
       divWrapper.append(testbox);
       divWrapper.append(removeButton);
       $("#subtasks").append(divWrapper);


    });



   });

   </script>



</head>
<body>

<div id = "header">
  <div id = "headerleft"> DayByDay </div>
  <div id = "headerright"> </div>

</div>

  <div id = "container">

    <!-- Left panel -->
    <div id = "container1">




      <br>
      <p class = "spacer"></p>

      <!-- select view for time -->
      <form method=POST action="{{ url_for('changeView') }}">
            <!-- <select name="time" id="time" onchange="timeChoice()"> -->

            <div class = "form-group time_selector center-block">
            <select class = "form-control" name="time" id="time" onchange="timeChoose(); this.form.submit();">
              {% block timeSelect %}
              <option value="day">Day View</option>
              <option value="week">Week View</option>
              <option value="month">Month View</option>
              {% endblock %}
            </select>
          </div>
          <p class = "spacer"></p>

        <!-- select view for data -->
          <div class = "form-group data_selector center-block">
          <select class = "form-control" name="views" id="views" onchange="dataChoose(); this.form.submit();">
            <option value="checklist">Checklist View</option>
            <option value="events">Events View</option>
            <option value="log">Log View</option>
          </select>
        </div>
      </form>
      <p class = "spacer"></p>

      {% block categories %}
      <!-- <div class = "centerDiv"> -->
      <div class = "shit" style = "width: 20%;"> </div>
      <div id = "categories" style = "display: inline-block;">
        <form id = "catTickForm" method=POST action="{{ url_for('tickedCats') }}">

          <div class="pretty p-default p-curve">
              <input type="checkbox" name="cat" id = "catall" onchange="checkCat(this,true); this.form.submit();" value="allCats"/>
              <div class="state p-primary">
                  <label>All Categories</label>
              </div>
          </div>
          <br>

          <!-- <input type="checkbox" name="cat" id = "catall" onchange="checkCat(this,true); this.form.submit();" value="allCats"> All Categories <br> -->
          {% for cat in allCats %}

          <div class="pretty p-default p-curve">
              <input type="checkbox" class = "cat" name="cat" id = "cat{{cat['name']}}" onchange="checkCat(this,true); this.form.submit();" value="{{cat['name']}}" />
              <div class="state p-primary">
                  <label><font color=" {{cat['color']}}  "> {{cat['name']}}  </font></label>
              </div>
          </div>
          <br>

          {% endfor %}
          <input type = "hidden" name = "catHidden" id = "catTickId" value = "0">
          <input type = "hidden" name = "catHiddenRedirect" id = "catTickRedirect" value = "0">
        </form>
        </div>
      <!-- </div> -->
      {% endblock %}

  <p class = "spacer"></p>
  <br>
  <!-- <p class = "spacer"></p> -->

  <div>
  <div class = "shit" style = "width: 20%;" >  </div>

  <div class = "addElements" style = "display: inline-block; width:60%; ">


    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >+ Category</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>hello</p>
                    <div id="cat_popup">
                      hello2
                    </div>



                </div>
            </div>
        </div>

        <form class="panel panel-default" method=POST action="{{ url_for('addTask') }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">+ Task</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </form>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">+ Log Entry</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">+ Event</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

    </div>
  </div>
  </div>

      <!-- Add Category -->
      <button class="cat_popup_open">Add Category</button>
      <div id="cat_popup">
        <form method=POST action="{{ url_for('addCat') }}">
          Category Name: <input type='text' name='catName'><br>
          Category Color: <input type='text' name='catColor'><br>
          <input type="submit" value="Submit">
        </form>
        <button class="cat_popup_close">Close</button>
      </div>
      <br>

      <!-- Add Task -->
      <button class="task_popup_open">Add Task</button>
      <div id="task_popup">
        <form method=POST action="{{ url_for('addTask') }}">
          Task Category:
          <select name="catOpt" id = "catOpt">
	     <option value="none">Not Specified</option>
       {% block add_dropdown %}
       {% for cat in allCats %}
       <option value="{{cat['name']}}"> {{cat['name']}} </option>
       {% endfor %}{% endblock %}
          </select>
          <br>

          Task Name: <input type='text' name='catName'><br>
          Start Date (YYYY-MM-DD): <input type='text' name='startDate'><br>
          End Date (YYYY-MM-DD): <input type='text' name='endDate'><br>

          <div id = "subtasks">
          </div>
          <input type="button" value="Add subtask" id = "add">
          <input type = "hidden" name = "num" id = "num" value = "0">
          <input type="submit" value="Submit">
        </form>
        <button class="task_popup_close">Close</button>
      </div>
      <br>


      <!-- Add Log -->
      <button class="log_popup_open">Add/Update Log</button>
      <div id="log_popup">
        <form method=POST action="{{ url_for('addLog') }}">
          Category Name: <input type='text' name='catName'><br>
          Hours: <input type='text' name='hour'><br>
          Task Date: <input type='text' name='taskDate'><br>
          <input type="submit" value="Submit">
        </form>
        <button class="log_popup_close">Close</button>
      </div>
      <br>

      <!-- Add Event -->
      <!-- <button class="event_popup_open">Add Event</button>
      <div id="event_popup">
        <form method=POST action="{{ url_for('addEvent') }}">
          Event Name: <input type='text' name='eventName'><br>
          Event Date (YYYY-MM-DD): <input type='text' name='eventDate'><br>
          Start Time: <input type='text' name='startTime'><br>
          End Time: <input type='text' name='endTime'><br>
          <input type="submit" value="Submit">
        </form>
        <button class="event_popup_close">Close</button>
      </div>
      <br> -->





    <!-- Right panel -->
    <div id = "container2">

      <div id = "dateinfo">
        {% block timeInfo %} {% endblock %}
      </div>


      {% block rightPanel %} {% endblock %}
      {% block customize %} {% endblock %}


     </div>
  </div>

  <!-- <input id = "btnSubmit" type="submit" value="Test"/> -->
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}





</body>
</html>



<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>


<div class="row">
    <div class='col-sm-6'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker4'>
                <input type='text' class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
           // Bootstrap DateTimePicker v4
           $('#datetimepicker').datetimepicker({
                 format: 'DD/MM/YYYY'
           });
        });
    </script>
</div>
